In [46]:
# set product key
import graphlab
#graphlab.product_key.set_product_key

# output active product key
#graphlab.product_key.get_product_key()

Input dataset from file

In [43]:
sf = graphlab.SFrame('people-example.csv')
sf

Read 7 lines. Lines per second: 518.48

Finished parsing file /home/ubuntu/people-example.csv

Parsing completed. Parsed 7 lines in 0.015666 secs.

Finished parsing file /home/ubuntu/people-example.csv

Parsing completed. Parsed 7 lines in 0.013681 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+-------------+-----+
| First Name | Last Name |   Country   | age |
+------------+-----------+-------------+-----+
|    Bob     |   Smith   |     USA     |  24 |
|   Alice    |  Williams |    Canada   |  23 |
|  Malcolm   |    Jone   |   England   |  22 |
|   Felix    |   Brown   |     USA     |  23 |
|    Alex    |   Cooper  |    Poland   |  23 |
|    Tod     |  Campbell |     USA     |  22 |
|   Derek    |    Ward   | Switzerland |  25 |
+------------+-----------+-------------+-----+
[7 rows x 4 columns]

Create NUM house column with numpy.random.randint function

In [23]:
import numpy as np
sa = graphlab.SArray(np.random.randint (1,149,7))
sf.add_column(sa, name='NUM')
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	NUM	int

Rows: 7

Data:
+------------+-----------+---------------+-----+-----+
| First Name | Last Name |    Country    | age | NUM |
+------------+-----------+---------------+-----+-----+
|    Bob     |   Smith   | United States |  24 |  70 |
|   Alice    |  Williams |     Canada    |  23 | 116 |
|  Malcolm   |    Jone   |    England    |  22 | 100 |
|   Felix    |   Brown   |      USA      |  23 |  38 |
|    Alex    |   Cooper  |     Poland    |  23 | 114 |
|    Tod     |  Campbell | United States |  22 | 116 |
|   Derek    |    Ward   |  Switzerland  |  25 | 124 |
+------------+-----------+---------------+-----+-----+
[7 rows x 5 columns]

Create Full Name column

In [44]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+-------------+-----+----------------+
| First Name | Last Name |   Country   | age |   Full Name    |
+------------+-----------+-------------+-----+----------------+
|    Bob     |   Smith   |     USA     |  24 |   Bob Smith    |
|   Alice    |  Williams |    Canada   |  23 | Alice Williams |
|  Malcolm   |    Jone   |   England   |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |     USA     |  23 |  Felix Brown   |
|    Alex    |   Cooper  |    Poland   |  23 |  Alex Cooper   |
|    Tod     |  Campbell |     USA     |  22 |  Tod Campbell  |
|   Derek    |    Ward   | Switzerland |  25 |   Derek Ward   |
+------------+-----------+-------------+-----+----------------+
[7 rows x 5 columns]

In [ ]:
Create logical filter

In [45]:
sf[((sf['Full Name'] == 'Felix Brown') | (sf['Country'] == 'USA'))&(sf['age'] != 24)]

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: Unknown

Data:
+------------+-----------+---------+-----+--------------+
| First Name | Last Name | Country | age |  Full Name   |
+------------+-----------+---------+-----+--------------+
|   Felix    |   Brown   |   USA   |  23 | Felix Brown  |
|    Tod     |  Campbell |   USA   |  22 | Tod Campbell |
+------------+-----------+---------+-----+--------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.